h2 {
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 50px;
}
.header{
  font-family: 'Sue Ellen Francisco', cursive;
  font-size: 30px;
}
.question-header {
  background-color: #C7E1F3;
  border: 1px solid #2793DA;
}
.multi-choices{
  display: none;
}
.outputField{
  font-family: 'Love Ya Like A Sister', cursive;
  text-align: center;
  font-size: 30px;
}
#clear{
  display: none;
}
.buttons{
  margin-top: 20px;
}
